*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	margin-top: 0;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Lucida Sans Regular", Geneva, Verdana, sans-serif;
}

.header-nav {
    width: 980px;
    height: 35px;
    background: linear-gradient( to bottom, rgb(134, 134, 134) 5%, rgb(128, 128, 128) 50%, rgb(107, 107, 107) 51%, rgb(99, 99, 99) 8%, rgb(121, 121, 121) 94% );
    position: absolute;
    font-size: 14px;
    top: 75px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    border: 1px solid rgb(109, 109, 109);
}

.header-nav__menu {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.h-nav-item {
    z-index: 2;
    width: 100%;
    height: 100%;
    position: relative;
    border-right: 1px solid rgba(75, 75, 75, 0.5);
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.753), 1px 1px 1px rgba(66, 66, 66, 0.651);
    cursor: pointer;
}

.h-nav-item .apple {
    position: relative;
    top: 5px;
}

.h-nav-item {
    z-index: 2;
    width: 100%;
    height: 100%;
    position: relative;
    border-right: 1px solid rgba(75, 75, 75, 0.5);
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.753), 1px 1px 1px rgba(66, 66, 66, 0.651);
    cursor: pointer;
}

.h-nav-item span {
    position: relative;
    top: 6px;
}

ul {
    list-style-type: none;
    display: flex;
}

.h-nav-item input {
    width: 100px;
    height: 22px;
    position: relative;
    top: 5px;
    right: 5px;
    box-shadow: inset 0px 1px 1px rgba(70, 70, 70, 0.8), inset 0 -1px 1px rgba(204, 204, 204, 0.6);
    background: transparent;
    transition: all 0.3s ease-in-out;
}

.header-nav input {
    border-radius: 9px;
    border: none;
}

.svg-search {
    width: 14px;
    height: 13px;
    position: absolute;
    left: 22px;
    top: 10px;
}

.h-nav-item:last-of-type {
    border-right: none;
    flex-grow: 1;
    padding-left: 20px;
}

.h-nav-item:hover {
    background: rgba(0, 0, 0, 0.4);
}

nav input:focus {
    background-color: white;
    width: 150px;
}

.main-section{
    width: 1440px;
	height: 605px;
	margin-left: auto;
	margin-right: auto;
    background-image: url(../images/your_verse_hero.jpg);
    background-position-x: 50%;
    background-position-y: 100%;
    text-align: center;
}

.main-section-navigation{
	display: table;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 85px;
}

.main-section-navigation ul li{
	display: inline-block;
	list-style: none;
}

.nav-row{
	display: table-row;
}

.nav-cell{
	display: table-cell;
	width: 11%;
	margin: 0;
}

.header-headline{
	font-weight: normal;
	font-size: 64px;
}

.header-subheading{
	font-size: 36px;
	font-weight: normal;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

header a {
	text-decoration: none;
	color: white;
}

.bottom-image-grid{
	display: table;
	width: 1440px;
	margin-left: auto;
	margin-right: auto;
}

.bottom-image-grid-row{
	display: table-row;
}

.bottom-image-grid-cell{
	display: table-cell;
	list-style: none;
	width: 25%;
}

.bottom-image-grid-cell img{
	width: 100%;
	height: 100%;
	margin: 0;
}

.footer-section{
	width: 1440px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.footer-p, .footer-nav, .copyright{
	display: inline-block;
	font-size: 12px;
}

.footer-nav li{
	list-style: none;
	display: inline-block;
}

.footer-content{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.copyright{
	float: left;
	margin-left: 102px;
}